@charset "UTF-8";
/* CSS Document */
body {
   overflow:hidden;
}

#red {

   background-color: #ad1414;
}

#red:hover {
   color: black;
}

#blue {
   background-color: #1d3393;
}

#blue:hover {
   color: black;
}

#green {
   background-color: green;
}

#green:hover{
   color: black;
}

#yellow {
   background-color: yellow;
}
#yellow:hover {
   color: black;
}

#eraser {
   background-color: white;
}
#eraser:hover {
   color: black;
}

#title {
   color: white;
   cursor: default;
}
